/**
Налаштування:
1. pfx_file_path і pfx_password_path - шлях до файлу з клієнтським сертифікатом (.pfx) і шлях до файлу з паролем до цього сертифікату
2. Також попередньо потрібно імпортувати серверний сертифікат в сховище java cacerts. Для цього потрібно із каталога JAVA_HOME\lib\security виконати команду:
../../bin/keytool -import -keystore cacerts -alias RootCAProc -file RootCAProc.crt
**/
//путь к файлу .pfx с клиентским сертификатом и путь к файлу с паролем
pfx_file_path=C:/Users/r.strynzha/Documents/Work/keys/api_solar_key/api_solar.pfx
pfx_password_path=C:/Users/r.strynzha/Documents/Work/keys/api_solar_key/dat